body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #ffffff;
    font-size: 1em;
    color: #000;
}

header.title {
    background-image: url("../images/cat-header-bg.webp");
    background-size: cover;
    background-position: center;
    background-color: #ffebf0;
}

header.title h1 {
    margin-bottom: 10px;
}

h1 {
    color: #000000;
}

h2 {
    color: #000000;
}

p {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.cat-image {
    border-radius: 10px;
    aspect-ratio: 16/9;
    object-fit: cover;
}

footer {
    margin-top: auto;
    padding: 10px;
    border-top: 5px solid black;
    background-color: #ffebf0;
}

hr {
    border-top: 1px solid rgba(0, 0, 0, 1);
}

img {
    max-width: 100%;
}