body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #ffffff;
    font-size: 1em;
    color: #000;
}

header.title {
    background-image: url("../images/cat-header-bg.webp");
    background-size: cover;
    background-position: center;
    background-color: #ffebf0;
}

header.title h1 {
  font-size: 4rem;              
  font-weight: 700;               
  color: #ffffff;              
  text-shadow: 2px 2px 8px rgba(0,0,0,0.7); 
  margin: 0;
  font-family: Lobster-Regular, cursive;
}


h1 {
    color: #000000;
}

h2 {
    color: #000000;
}

p {
    margin: 0;
}

.cat-image {
    border-radius: 10px;
    aspect-ratio: 16/9;
    object-fit: cover;
}

footer {
    margin-top: auto;
    padding: 10px;
    border-top: 5px solid black;
    background-color: #ffebf0;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


hr {
    border-top: 1px solid rgba(0, 0, 0, 1);
}

img {
    max-width: 100%;
}

@font-face {
    font-family: "Lobster-Regular";
    src: url("../fonts/Lobster-Regular.ttf") format("truetype");
}